section.followers-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.followers-page > h3 {
  text-decoration: underline;
}

.followers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
