* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(39, 38, 38, 0.801);
  color: azure;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > :nth-child(2) {
  flex-grow: 1;
  margin: 10px auto;
}

/* Common Classes */
.text-lg {
  font-size: 1.5rem;
}

.text-sm {
  font-size: 12px;
}
